.row {
  width: 940px;
  overflow: auto;
}
.row [data-cols] {
  float: left;
  margin-right: 20px;
}
.row [data-cols]:last-child {
  margin-right: 0;
}
.row [data-cols="12"] {
  width: 940px;
}
.row [data-cols="11"] {
  width: 860px;
}
.row [data-cols="10"] {
  width: 780px;
}
.row [data-cols="9"] {
  width: 700px;
}
.row [data-cols="8"] {
  width: 620px;
}
.row [data-cols="7"] {
  width: 540px;
}
.row [data-cols="6"] {
  width: 460px;
}
.row [data-cols="5"] {
  width: 380px;
}
.row [data-cols="4"] {
  width: 300px;
}
.row [data-cols="3"] {
  width: 220px;
}
.row [data-cols="2"] {
  width: 140px;
}
.row [data-cols="1"] {
  width: 60px;
}
