// Configuration
@gridColWidth: 60px;
@gridGutterWidth: 20px;

.row {
	width: 940px;
	overflow: auto;

	[data-cols] {
		float: left;
		margin-right: @gridGutterWidth;
		
		&:last-child {
			margin-right: 0;
		}
	}

	.div (@cols) when (@cols > 0) {
		(~'[data-cols="@{cols}"]') {
			width: (@gridColWidth + @gridGutterWidth) * (@cols - 1) + @gridColWidth;
		}
		.div(@cols - 1);
	}
	.div (0) {}
	.div(12);
}